.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin: 0px 10px;
}
.video-1{
    width: 100%;
    /*display: inline-block;*/
}
.thumbnail{
    width: 100%;
}
.thumbnail img{
    width: 300px;
    /*height: 200px;*/
}
.video-desc{
    width: 100%;
    /*display: inline-block;*/
}
.profile-pic{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 10px;
}
.profile-pic img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
}
.video-title{
    display: inline-block;
    vertical-align: top;
    width: 235px;
    margin-left: 10px;
}
.video-title p{
    /*display: inline-block;*/
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}
/*.channel-name{
    display: block;
}*/
.channel-name p{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: rgb(96, 96, 96);
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 5px;
}
/*.video-stats{
    display: block;
}*/
.video-stats p{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    margin-left: 60px;
    margin-top: 0;
}



.friends-containe{
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 10px #000;
    margin-bottom: 1000px;
}
.prof-pic{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.prof-pic img{
    width: 250px;
}
.friendz{
    display: block;
}
.username{
    display: block;
}
.username p{
    font-size: 15px;
    font-weight: 700;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 5px;
}
.mutual{
    display: block;
}
.mutual-pic{
    display: inline-block;
}
.mutual-pic img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}
.mutual-text{
    display: inline-block;
    vertical-align: top;
}
.mutual-text p{
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    color: rgb(96, 96, 96);
    margin-left: 5px;
    margin-top: 9px;
}
.add-friend-btn{
    display: inline-block;
}
.add-friend-btn button{
    background-color: #0083ee;
    height: 40px;
    border: 1px solid #efefef;
    border-radius: 6px;
    margin-bottom: 100px;
}
.add-friend-btn button a{
    font-family: Arial, Helvetica;
    font-weight: 600;;
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
}